body
{
    font-family: 'Lato', sans-serif;
}
.gradient-overlay {

    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
}
.gradient-overlay2
{


}
.team2
{
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%),url('./images/banner1.png');
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
   

}
